header.header {
  background-color: white;
  padding: 0 16px;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

header.header h1 {
  font-size: 1.5rem;
}
